<head>
  <link rel="stylesheet" href="home.scss">
</head>

<div class="title">
  <h1>Chronenberg University</h1>
</div>
<div class="quote">
  <h4>"And this is why you don't invite a Floopy Doop and a Shmoopy Doop to the same party."</h4>


