<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="characterpage.scss">
  </head>

  <body>
    <div class="title">
      <h1>All 493 Characters</h1>
    </div>
    <div class="container">
      <script src="main.js"></script>
    </div>
  </body>
</html>

