

@font-face {
  font-family: 'rickandmorty';
  src: url('/rick_and_morty.ttf') format("truetype");
}


html { 
  background: url(R&Mbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  display:flex;
  justify-content: center;
  align-items: center;
  color: #3bc130;
  font-family: 'rickandmorty';
  font-size: 40px;
} 

.quote {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 30%;
  margin-left: 500px;
}
.quote h4 {
  display:flex;
  justify-content: center;
  align-items: center;
}



