* {
  margin: 0;
}

@font-face {
  font-family: 'rickandmorty';
  src: url('/rick_and_morty.ttf') format("truetype");
}

html { 
  background: url(R&Mbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display:flex;
  justify-content: flex-end;
  font-family: 'rickandmorty';
  font-size: 40px;
  margin-right: 10px;
}



.title {
  display:flex;
  justify-content: center;
  align-items: center;
  color: #3bc130;
  font-family: 'rickandmorty';
  font-size: 40px;
  margin-top: 30px;
} 

.container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 120px;
}

#text {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

